*{
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 20px;
    color: black;
}

.mainpage{
    width: 100%;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.icon:hover path{
    fill: #1d9bf0;
}

svg{
    width: 35px; height: 35px;
    padding: 5px;
}

nav{
    width: 35%; height: 100vh;
    margin-top: 20px;
    position: relative;
}

nav div{
    width: 40%; height: 65%;
    float: right;
    display: grid;
}

nav a{
    height: 80%;
    padding: 10px;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    color: #000;
}

nav a:hover{
    text-decoration: none;
}
.hvtg:hover{
    background-color: #d0d0d0;
    border-radius: 50px;
    text-decoration: none;
    color: black;
}

.tweet{
    background-color: #1d9bf0;
    color: #fff;
    font-weight: 600;
    width: 140px;
    justify-content: center;
    border-radius: 60px;
}

.circd{
    border: solid 1px black;
    border-radius: 50px;
    padding: 0;
    margin: 5px;
}

i{
    padding: 5px;
}

/* The footer (profile area)*/

footer{
    position: absolute;
    padding: 5px;
    display: flex;
    align-items: center;
    width: 40%;
    bottom: 35px;
    right: 0;
}

footer img{
    width: 60px;
}

footer > div{
    width: 70%;
}

footer p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
    margin: 1px;
}

/* Main container */

.main-container{
    width: 30%;
    height: 100vh;
    position: relative;
    border: solid 1px #d0d0d0;
}

.btmbrdr{
    border-bottom: solid 1px #d0d0d0;
}

.homebar{
    width: 100%;
    background-color: #fffd;
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    padding: 10px;
    height: 8vh;
}

.homebar h1{
    font-size: 32px;
    font-weight: 600;
}

.star{
    font-size: 25px;
    color: black;
    width: 40px;
    height: 40px;
    padding: 3.5px;
    transform: rotate(180deg);
}

.mpost{
    padding: 5px;
    display: grid;
    grid-row-gap: 5px;
    justify-items: center;
}

.gr1{
    grid-row-start: 1;
    width: 65px;
    
}

.gr2{
    grid-column-start: 2;
    width: 100%;
}

input:focus-visible{
    outline: none;
}

.gr3{
    grid-column-start: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
 
}

.gr3 i{
    color: #1d9bf0;
}


/*A post*/
.post{
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 5px;
}

.post img{
    grid-row-end: 3;
}

.scndcol{
    grid-column-start: 2;
}
 
.post div{
    display: flex;
    align-items: center;
}

.prgp{
    font-size: 18px;
}

.user i{
    position: absolute;
    right: 10px;
}

.reactions{
    justify-content: space-around;
}

.reactions *{
    margin: 0;
}

.comm:hover *{
    fill:#1d9bf0;
    color: #1d9bf0;
}

.retw:hover *{
    fill:#1df01d;
    color: #1df01d;
}

.like:hover *{
    fill:#f01d6e;
    color: #f01d6e;
}

/***Scrolling ability***/
.scrly{
    overflow-y: auto;
    scrollbar-width: none;
}

.scrly::-webkit-scrollbar{
    display: none;
}

h6{
    padding-left: 5px;
}

.date::before{
    content: "• ";
}

/** more section **/

.round{
    background: #f7f9f9;
    border-radius: 15px;
}

.more{
    padding: 10px 20px;
    width: 20%;
    height: 100vh;
    background-color: red;
    position: relative;
}
.more *{
    font-size: 15px;
}

.input{
    width: 100%;
    height: 42px;
    display: flex;
    border-radius: 30px;
}
.input:focus-within{
    border: solid 1px #1d9bf0;
}
.input:focus-within *{
    fill: #1d9bf0;
    background-color: white;
}
.input input{
    width: 90%;
    height: 40px;
    border-radius: 0 30px 30px 0;
}
.input svg{
    width: 10%;
    height: 40px;
    border-radius: 30px 0 0 30px;
}

.input input:focus-visible + .helpsearch{ /*Need to revisit*/
    display: block;
}

.helpsearch{
    position: absolute;
    top: 52px; padding: 5px;
    left: 0; display: none;
    width: 100%; height: 100px;
    background-color: white;
    border-radius: 10px;
    border: solid 1px #f7f9f9;
    box-shadow: 2px 2px 5px #d0d0d0, -1px 0 5px #d0d0d0;
}
